@using BlazorApp1.CustomDatas;

<div class="main-container m-2">
    <div class="frame">
        <div class="stacked bg-img" style="background-image:url('/versus-punch.png')"></div>
        <span class="stacked">
            @Content
            @Content
            @Content
        </span>
    </div>
    <p style="color:@ApplicationConstants.light">
        @Content
    </p>
</div>


@code {
    [Parameter] public string Content { get; set; }
}

<style>
    .main-container {
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .frame{
        display:grid;

        width: 10em;
        height: 10em;

        border: solid;
        border-color: @ApplicationConstants.lightColor;
        border-radius: 1em;

        overflow: hidden;
    }

        .frame span {
            color: transparent;
        }

    .frame:hover{
        border-color: @ApplicationConstants.light;

        transition-duration: @(ApplicationConstants.duration);
        transition-property: border-color, width;
    }

        .frame:hover span {
            color: @ApplicationConstants.light;

            transition-duration: @(ApplicationConstants.duration);
            transition-property: color;
        }

        .frame:hover .bg-img {
            filter:blur(5px);
            z-index:0;

            transition-duration: @(ApplicationConstants.duration);
            transition-property: filter;
        }

    .stacked{
        grid-area: 1 / 1;
        z-index:10;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
</style>
