@using BlazorApp1.CustomDatas
@using BlazorBootstrap;

<nav class="navbar navbar-expand-lg h-100 w-100 align-content-center" style="color:@AppConst.color">
    <ul class="navbar-nav nav-fill w-100">
        @for (int i = 0; i < _infos.Length; i++) {
            int index = i;
            <li class="nav-item">
                <NavLink class="nav-link" style="font-size:1.5em" href="@_infos[index].id" Match="NavLinkMatch.All">
                    <i class=@_infos[index].icon style="font-size:inherit; color:inherit"></i>
                    @_infos[index].name
                </NavLink>
            </li>
        }
    </ul>
</nav>



@code {
    #region Variables
    private string _appName = "MyApp";
    private PageInfos[] _infos = new PageInfos[] { };
    #endregion

    protected override Task OnInitializedAsync() {
        _infos = new PageInfos[] {
            new PageInfos("", "Home", "bi-house"),
            new PageInfos("Folio", "Folio", "bi-archive"),
            new PageInfos("Calculator", "Calculator", "bi-calculator"),
            new PageInfos("Counter", "Counter", "bi-plus"),
            new PageInfos("FetchData", "Weather", "bi-cloud")
        };

        return base.OnInitializedAsync();
    }
}

<style>
    .navbar-nav .nav-item .nav-link{
        color: @AppConst.lightColor;
    }

        .navbar-nav .nav-item:focus .nav-link,
        .navbar-nav .nav-item:hover .nav-link{
            color: @AppConst.light;
        }

        .navbar-nav .nav-item .nav-link.active{
            color: @AppConst.light;
            font-weight: bold;
            transition-duration: @(AppConst.duration);
            transition-property:font-weight, color;
        }
</style>
